@use '../../variables' as var;

.modal {
  top: 50%;
  left: 50%;
  gap: 1rem;
  width: 90%;
  height: 100%;
  border: none;
  display: flex;
  max-width: 1000px;
  max-height: 600px;
  color: var.$white;
  padding: 3rem 4rem;
  border-radius: 1rem;
  align-items: center;
  translate: -50% -50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: space-between;
  background-image: url('/logos/svgs/blob.svg');
}

.modal[open] {
  animation: modalFadeIn 0.2s forwards;
}

.modal::backdrop {
  backdrop-filter: blur(1px);
  background-color: var.$light-shadow;
}

@keyframes modalFadeIn {
  from {
    scale: -5%;
  }
  to {
    scale: initial;
  }
}

.primaryWrapper {
  gap: 0.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: calc(50% - 1rem);
}

.primaryHeading {
  font-weight: 300;
  font-size: var.$regular-heading;
}

.primaryText {
  line-height: 1.4;
  font-weight: 300;
  text-align: justify;
  font-size: var.$regular-text;
}

.donateDetailsWrapper {
  gap: 2rem;
  display: flex;
  max-width: 22rem;
  margin-top: 2.5rem;
  align-self: center;
  text-align: center;
  flex-direction: column;
}

.detailsHeading {
  line-height: 1;
  font-weight: 400;
  font-size: var.$regular-heading;
}

.firstDetailsWrapper,
.secondDetailsWrapper {
  line-height: 1.3;
}

.boldText {
  font-size: var.$medium-text;
  font-weight: 500;
}

.text {
  font-size: var.$medium-text;
  font-weight: 300;
}

.secondaryWrapper {
  gap: 1.1rem;
  height: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  width: calc(50% - 1rem);
  justify-content: space-between;
}

.secondaryHeading {
  font-weight: 400;
  font-size: var.$regular-heading;
}

.qrCode {
  width: 100%;
  height: auto;
  max-width: 17.8125rem;
  min-width: 15.8125rem;
  border-radius: 0.8rem;
  background-color: var.$white;
  box-shadow: var.$standard-box-shadow;
}

.closeButton {
  top: 0.5rem;
  border: none;
  right: 0.5rem;
  cursor: pointer;
  position: absolute;
  transition: scale 0.3s ease;
  background-color: transparent;

  svg {
    width: 3.5rem;
    height: 3.5rem;
    fill: var.$white;
  }
}

.closeButton:hover {
  scale: 1.15;
}

@media (width <= 67.5rem) {
  .modal {
    gap: 3rem;
  }

  .primaryWrapper,
  .secondaryWrapper {
    width: 100%;
  }

  .primaryWrapper {
    gap: 1.5rem;
  }

  .primaryHeading {
    font-size: calc(var.$small-heading - 0.05rem);
  }

  .detailsHeading,
  .secondaryHeading {
    font-size: var.$small-heading;
  }

  .donateDetailsWrapper {
    gap: 1rem;
  }
}

@media (width <= 56.5625rem) {
  .modal {
    gap: 1rem;
    overflow-y: hidden;
    padding: 3.5rem 2rem;
    max-height: 45.625rem;
    flex-direction: column;
  }

  .primaryWrapper {
    justify-content: center;
  }

  .donateDetailsWrapper {
    margin-top: unset;
  }

  .primaryText,
  .primaryHeading {
    display: none;
  }

  .qrCode {
    max-width: 14rem;
    min-width: 10rem;
  }
}

@media (height <= 38.125rem) {
  .modal {
    width: 90%;
    height: 90%;
    min-width: 31.25rem;
    flex-direction: row;
    padding: 3rem 4rem 3rem 2rem;
  }

  .primaryWrapper {
    justify-content: center;
  }

  .donateDetailsWrapper {
    margin-top: unset;
  }

  .secondaryWrapper {
    gap: 0.5rem;
    justify-content: center;
  }

  .secondaryWrapper .boldText {
    font-size: var.$regular-text;
  }

  .primaryText,
  .primaryHeading,
  .detailsHeading,
  .secondaryHeading {
    display: none;
  }

  .qrCode {
    max-width: 13rem;
    min-width: 13rem;
  }
}
