@use '../../variables' as var;

.container {
  right: 0;
  top: 9rem;
  z-index: -1;
  width: 100%;
  display: flex;
  position: absolute;
  max-width: 21.875rem;
  justify-content: center;
  transition: transform 0.6s;
  transform: translateX(200%);
  border-radius: 0 0 0 0.4rem;
  padding: 2rem 1.5rem 2rem 2rem;
  background-color: var.$light-blue;
}

.container {
  .wrapper > div,
  .wrapper ul {
    margin-top: 0;
  }
}

.visible {
  transform: translateX(0);
}

.wrapper {
  gap: 1.5rem;
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;

  & > div,
  & > ul {
    display: flex;
  }
}

.wrapper div:last-child:has(button) {
  gap: 2rem;
}

@media (width <= 22.8rem) {
  .container {
    width: 100vw;
    top: 8.93rem;
    height: 100vh;
    padding: 2rem;
    max-width: unset;
  }
}
