@use '../../variables' as var;

.navWrapper {
  gap: 2.5rem;
  display: none;
  list-style: none;
  align-items: center;
}

.navItem {
  display: flex;
  position: relative;
  margin-block: 0.6rem;
  padding-block: 0.05rem;
  justify-content: center;
  font-size: var.$navbar-clamp;
}

.navItem::after {
  width: 0%;
  bottom: 0;
  content: '';
  opacity: 0.8;
  height: 0.15rem;
  position: absolute;
  transition: width 0.25s;
  background-color: var.$red;
}

.navItem:hover::after {
  width: 100%;
}

.navLink {
  font-weight: 300;
  text-decoration: none;
  color: var.$black-font;
  filter: drop-shadow(var.$standard-box-shadow);
}

.secondaryWrapper {
  gap: 2.5rem;
  display: none;
  align-items: center;
  animation: fadeIn forwards 0.4s;
}

.socialWrapper {
  gap: 0.8rem;
  display: flex;
  align-items: center;
}

.socialLink {
  width: 2rem;
  display: flex;
  height: 1.9rem;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
  filter: drop-shadow(var.$standard-box-shadow);

  svg {
    position: absolute;
    fill: var.$black-font;
    transition: transform 0.2s ease;
  }

  :nth-child(2) {
    fill: var.$red;
    bottom: -1.75rem;
    pointer-events: none;
  }
}

.socialLink:hover {
  svg {
    transform: translateY(-100%);
  }
}

.socialWrapper svg {
  height: 1.85rem;
}

.donateButton {
  border: none;
  width: 7.5rem;
  height: 2.5rem;
  cursor: pointer;
  font-weight: 500;
  color: var.$white;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  background-color: var.$red;
  animation: fadeIn forwards 0.4s;
  box-shadow: var.$standard-box-shadow;
}

.donateButton {
  transition: 1s ease-in-out;

  svg {
    top: 0;
    left: 0;
    fill: none;
    width: 100%;
    height: 100%;
    position: absolute;
    stroke: var.$black;
    stroke-dashoffset: 150;
    stroke-dasharray: 150 480;
    transition: 1s ease-in-out;
  }
}

.donateButton:hover {
  transition: 0.8s ease;
  background: var.$primary-blue;
}

.donateButton:hover svg {
  stroke-dashoffset: -480;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (width > 80rem) {
  .navWrapper,
  .secondaryWrapper {
    display: flex;
  }
}

@media (width <= 93.75rem) {
  .curumim {
    gap: 1rem;
    flex-direction: column;

    .navItem {
      font-weight: 400;
      font-size: var.$big-text;
    }

    .socialWrapper {
      gap: 1rem;
    }

    .donateButton {
      width: 100%;
      height: 3.5rem;
      font-size: var.$medium-text;
    }

    .donateButton svg {
      transform: scaleX(1.72) scaleY(1.035);
    }
  }
}

@media (width <= 80rem) {
  .home {
    gap: 1rem;
    flex-direction: column;

    .navWrapper {
      overflow-y: scroll;
    }

    .navItem {
      font-weight: 400;
      font-size: var.$big-text;
    }

    .socialWrapper {
      gap: 1rem;
    }

    .donateButton {
      width: 100%;
      height: 3.5rem;
      font-size: var.$medium-text;
    }

    .donateButton svg {
      transform: scaleX(1.72) scaleY(1.035);
    }
  }
}

@media (height < 48rem) {
  .navWrapper {
    gap: 1.5rem;
    height: 20vh;
    overflow-x: hidden;
  }
}
