@use '../../variables' as var;

.navWrapper {
  gap: 2.5rem;
  display: flex;
  list-style: none;
  align-items: center;
  animation: fadeIn forwards 0.4s;
}

.navItem {
  font-weight: 300;
  font-size: var.$navbar-clamp;
  transition: filter 0.2s ease, scale 0.2s ease, transform 0.2s ease;
}

.navItem:hover {
  scale: 1.01;
  transform: translateY(-2%);
  filter: drop-shadow(0px 0px 8px var.$transparent-white-hover);
}

.navLink {
  color: var.$white;
  text-decoration: none;
  text-shadow: var.$light-box-shadow;
}

.secondaryWrapper {
  gap: 2rem;
  display: flex;
  align-items: center;
  animation: fadeIn forwards 0.4s;
}

.socialWrapper {
  gap: 0.8rem;
  display: flex;
  align-items: center;
}

.socialLink {
  display: flex;
  align-items: center;
  transition: filter 0.3s ease;

  svg {
    fill: var.$white;
    filter: drop-shadow(var.$standard-box-shadow);
  }
}

.socialLink:hover {
  filter: drop-shadow(0px 0px 8px var.$transparent-white-hover);
}

.socialWrapper :nth-child(1) {
  svg {
    height: 1.75rem;
  }
}

.socialWrapper :nth-child(2),
.socialWrapper :nth-child(3) {
  svg {
    height: 1.85rem;
  }
}

.donateButton {
  border: none;
  width: 7.5rem;
  height: 2.5rem;
  cursor: pointer;
  font-weight: 500;
  color: var.$white;
  font-size: inherit;
  font-family: inherit;
  border-radius: 0.2rem;
  animation: fadeIn forwards 0.4s;
  box-shadow: var.$heavy-box-shadow;
  background-color: var.$secondary-blue;
  transition: background-color 0.2s ease;
}

.donateButton:hover {
  background-color: var.$dark-blue;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (width <= 86.25rem) {
  .curumim {
    gap: 1.5rem;
    flex-direction: column;

    .navItem {
      font-weight: 400;
      font-size: var.$big-text;
    }

    .socialWrapper {
      gap: 1rem;
    }

    .donateButton {
      width: 100%;
      height: 3.5rem;
      font-size: var.$medium-text;
    }
  }
}

@media (width <= 80rem) {
  .home {
    gap: 2rem;
    flex-direction: column;

    .navItem {
      font-weight: 400;
      font-size: var.$big-text;
    }

    .socialWrapper {
      gap: 1rem;
    }

    .donateButton {
      width: 100%;
      height: 3.5rem;
      font-size: var.$medium-text;
    }
  }
}

@media (height < 48rem) {
  .navWrapper {
    gap: 1.5rem;
    height: 20vh;
    overflow: scroll;
  }
}
