@use '../../variables' as var;

.container {
  gap: 2rem;
  z-index: 1;
  top: -20rem;
  width: 100%;
  display: flex;
  padding: 0 6rem;
  position: sticky;
  align-items: center;
  justify-content: space-between;
  background-color: var.$light-blue;
  filter: drop-shadow(var.$standard-box-shadow);
  transition: top 0.5s ease, background-color 0.2s ease;
}

.showNavbar {
  top: 0;
}

.transparent {
  backdrop-filter: blur(5px);
  background-color: var.$transparent-white-navbar;
}

.primaryLogo {
  z-index: 1;
  width: 100%;
  height: auto;
  max-width: 10rem;
  bottom: 0.1875rem;
  position: relative;
  filter: drop-shadow(var.$standard-box-shadow);
}

.hiddenButton {
  border: none;
  background-color: transparent;

  svg {
    width: 3.5rem;
    height: 3.5rem;
    cursor: pointer;
    fill: var.$black-font;
    animation: rotate forwards 0.5s;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-180deg);
  }
}

@media (width <= 22.8rem) {
  .container {
    gap: 1rem;
    padding: 1rem;
    justify-content: space-around;
  }

  .hiddenButton {
    svg {
      width: 3.5rem;
      height: 3.5rem;
    }
  }
}
