@use '../../variables' as var;

.container {
  width: 90%;
  display: flex;
  text-align: center;
  align-items: center;
  padding: 6rem 0 8rem;
  flex-direction: column;
}

.videoSection {
  width: 100%;
  display: flex;
  margin-bottom: 8rem;
  flex-direction: column;
  gap: var.$testimonials-gap-clamp;
}

.videoWrapper {
  gap: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.heading {
  display: flex;
  font-weight: 400;
  text-align: center;
  align-items: center;
  flex-direction: column;
  color: var.$primary-blue;
  font-size: var.$video-heading-clamp;
}

.container > .heading {
  max-width: 70%;
  margin-bottom: 4rem;
}

.boldHeading {
  font-weight: 600;
}

.video {
  width: 100%;
  height: auto;
  max-width: 75rem;
  border-radius: 0.4rem;
  box-shadow: var.$standard-box-shadow;
}

.linkWrapper {
  gap: 1rem;
  width: 100%;
  display: flex;
  min-width: 18rem;
  max-width: 22rem;
  color: var.$white;
  align-items: center;
  font-family: inherit;
  border-radius: 0.4rem;
  flex-direction: column;
  justify-content: center;
  padding: 3rem 2rem 2.5rem;
  transition: scale 0.3s ease;
  box-shadow: var.$medium-box-shadow;
  background-color: var.$primary-blue;

  svg {
    width: 5.5rem;
    height: 5.5rem;
    fill: var.$white;
  }
}

.linkWrapper:hover {
  scale: 1.03;
}

.linkHeading {
  font-weight: 300;
  line-height: 1.2;
  color: var.$white;
  text-decoration: none;
  font-size: var.$big-text;
}

.link {
  gap: 0.5rem;
  display: flex;
  font-weight: 500;
  color: var.$white;
  align-items: center;
  text-decoration: none;
  font-size: var.$medium-text;

  svg {
    width: 1.6rem;
    height: 1.6rem;
    fill: var.$secondary-blue;
  }
}

.circle {
  width: 1.4rem;
  display: flex;
  height: 1.4rem;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: var.$white;
}

@media (width <= 62.5rem) {
  .container > .heading {
    max-width: 90%;
  }
}
