@use '../../variables' as var;

.imageCarousel {
  width: 100%;
  display: flex;
  overflow: hidden;
  min-height: 105vh;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 0.8s;
}

.imageCarousel::before {
  width: 0;
  height: 0;
  z-index: -5;
  overflow: hidden;
  position: absolute;
  content: url('/images/carousel/image1.webp') url('/images/carousel/image2.webp')
    url('/images/carousel/image3.webp') url('/images/carousel/image4.webp')
    url('/images/carousel/image5.webp') url('/images/carousel/image6.webp')
    url('/images/carousel/image7.webp');
}

.headingWrapper {
  gap: 1rem;
  width: 90%;
  display: flex;
  margin-top: 8rem;
  color: var.$white;
  flex-direction: column;
}

.heading {
  font-weight: 700;
  padding: 0 0.6rem;
  font-family: inherit;
  word-wrap: break-word;
  max-width: fit-content;
  font-size: var.$carousel-heading-clamp;
  background-color: var.$transparent-black;
}

.text {
  font-weight: 400;
  padding: 0 0.6rem;
  font-family: inherit;
  line-height: 1.875rem;
  max-width: fit-content;
  font-size: var.$navbar-clamp;
  background-color: var.$transparent-black;
}

.imageCarousel svg:last-child {
  bottom: 0;
  fill: transparent;
  position: absolute;
}

@keyframes showCloud {
  from {
    transform: translateY(25%);
  }
  to {
    transform: translateY(0);
  }
}

@media (height <= 53.125rem) and (width >= 52.5rem) {
  .cloud {
    height: 13.8rem;
  }
}

@media (width <= 52.5rem) {
  .cloud {
    height: 13.8rem;
  }
}

@media (height <= 48rem) {
  .imageCarousel {
    padding: 4rem 0 30rem;
  }

  .headingWrapper {
    margin-top: unset;
  }

  .cloud {
    height: 16.5rem;
  }
}
