@use '../../variables' as var;

.imageCarousel {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  max-height: 110vh;
  position: relative;
  align-items: center;
  flex-direction: column;
}

.waves {
  position: absolute;
}

.imageWrapper {
  width: 100%;
  position: relative;
  padding-bottom: 14rem;
}

.imageWrapperResizer {
  width: 100%;
  z-index: -5;
  height: auto;
  min-height: 70vh;
  position: relative;
  visibility: hidden;
}

.image {
  inset: 0;
  width: 100%;
  height: auto;
  min-height: 70vh;
  object-fit: cover;
  position: absolute;
}

.showImage {
  opacity: 1;
  filter: blur(0px);
  transition: opacity 0.5s, filter 0.3s;
}

.hideImage {
  opacity: 0;
  filter: blur(5px);
  transition: opacity 1s, filter 0.6s;
}

.headingWrapper {
  top: 5rem;
  gap: 1rem;
  width: 90%;
  display: flex;
  color: var.$white;
  position: absolute;
  flex-direction: column;
}

.headingTextWrapper {
  display: flex;
  font-weight: 700;
  font-family: inherit;
  font-size: var.$carousel-heading-clamp;
}

.headingText {
  max-width: fit-content;
  padding-inline: 0.4rem;
  padding-block: 0.05rem;
  background-color: var.$transparent-black;
}

.textWrapper {
  gap: 0.2rem;
  display: flex;
  flex-direction: column;
}

.text {
  font-weight: 400;
  font-family: inherit;
  line-height: 1.875rem;
  max-width: fit-content;
  padding-inline: 0.4rem;
  padding-block: 0.05rem;
  font-size: var.$carousel-text-clamp;
  background-color: var.$transparent-black;
}

.imageCarousel svg:last-child {
  bottom: 0;
  fill: transparent;
  position: absolute;
}

@keyframes fadeIn {
  from {
    filter: blur(5px);
  }
  to {
    filter: blur(0px);
  }
}

@media (width <= 50.938rem) {
  .headingTextWrapper {
    gap: 0.2rem;
    flex-direction: column;
  }
}

@media ((height <= 43.75rem) and (width >= 56.25rem)) {
  .imageCarousel {
    padding-bottom: 50rem;
  }
}
