@use '../../variables' as var;

.button {
  z-index: 5;
  opacity: 0;
  right: 1rem;
  bottom: 1rem;
  border: none;
  position: fixed;
  cursor: pointer;
  pointer-events: none;
  transition: opacity 0.2s ease;
  background-color: transparent;

  svg {
    rotate: 270deg;
    border-radius: 50%;
    fill: var.$primary-blue;
    box-shadow: var.$heavy-box-shadow;
    background-color: var.$light-blue;
    transition: rotate 0.3s ease, scale 0.3s ease;
  }
}

.fadeButton {
  opacity: 1;
  pointer-events: all;
}

.button {
  svg:hover {
    scale: 1.1;
    rotate: 270deg;
  }
}

@media (width <= 31.25rem) {
  .button svg {
    width: 2.5rem;
    height: 2.5rem;
  }
}
