@use '../../variables' as var;

.button {
  z-index: 5;
  opacity: 0;
  right: 1rem;
  bottom: 1rem;
  border: none;
  position: fixed;
  cursor: pointer;
  pointer-events: none;
  transition: opacity 0.2s;
  background-color: transparent;

  svg {
    rotate: 270deg;
    border-radius: 50%;
    fill: var.$secondary-blue;
    box-shadow: var.$heavy-box-shadow;
    background-color: var.$light-blue;
    transition: rotate 0.3s, scale 0.3s;
  }
}

.fadeButton {
  opacity: 1;
  pointer-events: all;
}

.button {
  svg:hover {
    scale: 1.1;
    rotate: 270deg;
  }
}
