@use '../stylesheets/variables' as var;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth !important;
}

body {
  font-size: var.$regular-text;
  background-color: var.$light-blue;
}

#root {
  overflow: clip;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}
