// Color
$grey: hsl(0, 0%, 68%);
$red: hsl(0, 100%, 64%);
$white: hsl(0, 0%, 100%);
$blue: hsl(197, 51%, 64%);
$green: hsl(152, 80%, 40%);
$dark-blue: hsl(197, 51%, 33%);
$light-blue: hsl(197, 51%, 92%);
$primary-blue: hsl(197, 51%, 56%);
$secondary-blue: hsl(197, 51%, 42%);

//Transparent Color
$transparent-white: hsl(0, 0%, 100%, 0.3);
$transparent-white-hover: hsl(0, 0%, 100%, 0.5);
$transparent-blue-hover: hsl(197, 51%, 64%, 0.5);
$transparent-secondary-blue: hsl(197, 51%, 40%, 0.3);

//Font Color
$black-font: hsl(0, 0%, 20%);
$blue-font: hsl(197, 51%, 36%);
$dark-blue-font: hsl(197, 51%, 25%);

// Shadow Strength
$light-shadow: hsla(0, 0%, 20%, 0.15);
$medium-shadow: hsla(0, 0%, 20%, 0.25);

// Box Shadow
$light-box-shadow: 3px 3px 12px $light-shadow;
$standard-box-shadow: 3px 3px 8px $light-shadow;
$medium-box-shadow: 3px 3px 12px $medium-shadow;
$heavy-box-shadow: 3px 3px 8px $medium-shadow;

//Text Shadow
$standard-text-shadow: 3px 3px 2px $medium-shadow;
