//Fonts
$poppins-font: 'Poppins', sans-serif;

//Text Font Size
$extra-small-text: 0.8rem;
$small-text: 0.9rem;
$regular-text: 1rem;
$medium-text: 1.2rem;
$big-text: 1.4rem;

//Heading Font Size
$extra-small-heading: 1.5rem;
$small-heading: 1.6rem;
$regular-heading: 2rem;
$medium-heading: 2.4rem;
$big-heading: 2.8rem;

//Clamp Font Size
$text-clamp: clamp(1rem, 0.9135rem + 0.4324vw, 1.2rem);
$navbar-clamp: clamp(1.2rem, -0.2769rem + 1.8462vw, 1.6rem);
$project-button-clamp: clamp(1.4rem, 1.2286rem + 0.8571vw, 2rem);
$section-heading-clamp: clamp(2.2rem, 1.9838rem + 1.0811vw, 3rem);
