@use '../../variables' as var;

.container {
  gap: 1.5rem;
  width: 100%;
  display: flex;
  padding: 3rem 0;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  filter: drop-shadow(var.$standard-box-shadow);
}

.lightColor {
  background-color: var.$light-blue;
}

.darkColor {
  background-color: var.$primary-blue;

  .wrapper {
    .link {
      transition: filter 0.3s ease;
    }

    svg {
      fill: var.$white;
    }
  }

  .link:hover {
    filter: drop-shadow(0px 0px 8px var.$transparent-white-hover);

    svg {
      fill: var.$white;
    }
  }

  .text {
    color: var.$white;
  }
}

.wrapper {
  z-index: 1;
  gap: 0.7rem;
  display: flex;
  align-items: center;

  svg {
    fill: var.$black-font;
    transition: fill 0.2s ease;
    filter: drop-shadow(var.$standard-box-shadow);
  }
}

.wrapper a:hover {
  svg {
    fill: var.$red;
  }
}

.wrapper :nth-child(1) {
  svg {
    height: 1.75rem;
  }
}

.wrapper :nth-child(2),
.wrapper :nth-child(3) {
  svg {
    height: 1.85rem;
  }
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  z-index: 1;
  font-weight: 400;
  text-align: center;
  color: var.$black-font;
  letter-spacing: -0.04rem;
  font-size: var.$medium-text;
  text-shadow: var.$standard-box-shadow;
}
