@use '../../variables' as var;

.container {
  gap: 4rem;
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 33rem));
}

.modal {
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  border: none;
  display: flex;
  overflow: hidden;
  align-items: center;
  translate: -50% -50%;
  justify-content: center;
  background-color: transparent;
}

.modal[open] {
  animation: modalFadeIn 0.2s ease forwards;
}

.modal::backdrop {
  backdrop-filter: blur(1px);
  background-color: var.$transparent-black-modal;
}

@keyframes modalFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal button {
  border: none;
  display: flex;
  cursor: pointer;
  position: absolute;
  align-items: center;
  justify-content: center;
  transition: scale 0.2s ease;
  background-color: transparent;

  &:not(:last-of-type):hover {
    scale: 1.2;
  }

  &:is(:last-of-type):hover {
    scale: 1.1;
  }

  svg {
    width: 3.5rem;
    height: 3.5rem;
    fill: var.$white;
    pointer-events: none;
  }
}

.modal .closeButton {
  svg {
    width: 3.5rem;
    height: 3.5rem;
  }
}

.modalImage {
  width: 80%;
  height: auto;
  position: absolute;
  border-radius: 0.4rem;
  transition: scale 0.3s, filter 0.3s;
}

.showImage {
  scale: 1;
  opacity: 1;
}

.hideImage {
  opacity: 0;
  scale: 1.05;
  filter: blur(5px);
}

.previousButton {
  rotate: 180deg;
  left: var.$curumim-positon-clamp;
}

.nextButton {
  right: var.$curumim-positon-clamp;
}

.closeButton {
  top: 0;
  right: 0;
}

.showModalButton {
  border: none;
  cursor: pointer;
  transition: scale 0.2s;
  background-color: transparent;
}

.buttonImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 0.4rem;
  box-shadow: var.$standard-box-shadow;
  animation: fadeImage 0.4s ease forwards;
}

@keyframes fadeImage {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.loadMoreButton {
  border: none;
  display: flex;
  cursor: pointer;
  min-height: 21rem;
  align-items: center;
  font-family: inherit;
  border-radius: 0.4rem;
  transition: scale 0.2s;
  justify-content: center;
  background-color: var.$primary-blue;
  box-shadow: var.$standard-box-shadow;
}

.loadMoreWrapper {
  gap: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;

  svg {
    width: 6rem;
    height: 6rem;
    fill: var.$white;
  }
}

.loadMoreText {
  font-weight: 300;
  color: var.$white;
  font-size: var.$regular-heading;
}

.showModalButton:hover,
.loadMoreButton:hover {
  scale: 1.02;
}

@media (width <= 37.5rem) {
  .showModalButton {
    pointer-events: none;
  }
}
