@use '../../variables' as var;

.container {
  gap: 1rem;
  width: 100%;
  display: flex;
  min-height: 75vh;
  padding: 4.5rem 0;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.heading {
  font-weight: 500;
  text-align: center;
  color: var.$primary-blue;
  font-size: var.$section-heading-clamp;
}

.text {
  max-width: 80%;
  font-weight: 300;
  text-align: center;
  margin-bottom: 6rem;
  color: var.$black-font;
  font-size: var.$text-clamp;
}

.wrapper {
  gap: 4rem;
  display: flex;
  max-width: 65%;
  flex-wrap: wrap;
  justify-content: center;
}

.missionHeading {
  font-weight: 400;
  text-align: center;
  color: var.$primary-blue;
  font-size: var.$mission-heading-clamp;
}

.triangle {
  width: 0;
  height: 0;
  position: absolute;
  border-style: solid;
  filter: drop-shadow(var.$standard-box-shadow);
  border-width: 0 7.8125rem 7.8125rem 7.8125rem;
  border-color: transparent transparent var.$primary-blue transparent;
}

.triangle:is(:nth-of-type(1), :nth-of-type(2), :nth-of-type(3)) {
  left: -5rem;
  rotate: 90deg;
}

.triangle:is(:nth-of-type(4), :nth-of-type(5), :nth-of-type(6)) {
  right: -5rem;
  rotate: -90deg;
}

.triangle:nth-of-type(1),
.triangle:nth-of-type(4) {
  top: 3.2rem;
}

.triangle:nth-of-type(2),
.triangle:nth-of-type(5) {
  top: 0;
  bottom: 0;
  margin: auto;
}
.triangle:nth-of-type(3),
.triangle:nth-of-type(6) {
  bottom: 3.2rem;
}

@media (width <= 78.125rem) {
  .wrapper {
    max-width: 90%;
  }

  .triangle {
    display: none;
  }
}

@media (width <= 46.875rem) {
  .heading {
    margin-bottom: 1rem;
  }

  .text {
    margin-bottom: 2.5rem;
  }
}
