@use '../../variables' as var;

.container {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 4.5rem 0 6.5rem;
}

.heading {
  font-weight: 500;
  text-align: center;
  margin-bottom: 1rem;
  color: var.$primary-blue;
  font-size: var.$section-heading-clamp;
}

.text {
  max-width: 80%;
  font-weight: 300;
  text-align: center;
  margin-bottom: 6.5rem;
  color: var.$black-font;
  font-size: var.$text-clamp;
}

.wrapper {
  display: grid;
  max-width: 90%;
  gap: 4rem 3rem;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 24rem));
}

.missionWrapper {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.missionHeading {
  color: var.$black-font;
  font-size: var.$big-text;
}

.missionText {
  color: var.$black-font;
  font-weight: 300;
}

.triangle {
  width: 0;
  height: 0;
  position: absolute;
  border-style: solid;
  filter: drop-shadow(var.$standard-box-shadow);
  border-width: 0 7.8125rem 7.8125rem 7.8125rem;
  border-color: transparent transparent var.$primary-blue transparent;
}

.triangle:is(:nth-of-type(1), :nth-of-type(2), :nth-of-type(3)) {
  left: -5rem;
  rotate: 90deg;
}

.triangle:is(:nth-of-type(4), :nth-of-type(5), :nth-of-type(6)) {
  right: -5rem;
  rotate: -90deg;
}

.triangle:nth-of-type(1),
.triangle:nth-of-type(4) {
  top: 3.2rem;
}

.triangle:nth-of-type(2),
.triangle:nth-of-type(5) {
  top: 0;
  bottom: 0;
  margin: auto;
}
.triangle:nth-of-type(3),
.triangle:nth-of-type(6) {
  bottom: 3.2rem;
}

@media (width <= 87.5rem) {
  .wrapper {
    max-width: 92%;
  }
}

@media (width <= 46.875rem) {
  .heading {
    margin-bottom: 2rem;
  }
}
