@use '../../variables' as var;

.container {
  width: 100%;
  display: flex;
  padding: 6rem 0;
  align-items: center;
  flex-direction: column;
}

.heading {
  font-weight: 500;
  text-align: center;
  margin-bottom: 3rem;
  color: var.$primary-blue;
  font-size: var.$section-heading-clamp;
}

.wrapper {
  display: grid;
  gap: 1rem 2.6rem;
  max-width: 90%;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 15rem);
}

.logo {
  width: 100%;
  height: auto;
  aspect-ratio: 1;
  max-width: 15rem;
  object-fit: contain;
  transition: scale 0.2s ease;
  filter: drop-shadow(var.$light-box-shadow);
}

.logo:nth-child(20) {
  filter: brightness(0) saturate(100%) invert(32%) sepia(97%) saturate(2246%) hue-rotate(132deg)
    brightness(98%) contrast(102%) drop-shadow(var.$light-box-shadow);
}

.logo:hover {
  scale: 1.1;
}

@media (width <= 40.625rem) {
  .wrapper {
    gap: 2rem 2.6rem;
  }
}

@media (width <= 30.625rem) {
  .container {
    margin: 2rem 0;
  }

  .heading {
    margin-bottom: 2rem;
  }
}
