@use '../../variables' as var;

.container {
  width: 100%;
  display: flex;
  color: var.$white;
  position: relative;
  align-items: center;
  padding: 4rem 0 6rem;
  flex-direction: column;
  background-color: var.$primary-blue;
  filter: drop-shadow(var.$standard-box-shadow);

  --s: 6.25rem; /* control the size */
  --_g: #0000 83%, hsl(204, 61%, 68%) 85% 99%, #0000 101%;

  background: radial-gradient(27% 29% at right, var(--_g)) calc(var(--s) / 2) var(--s),
    radial-gradient(27% 29% at left, var(--_g)) calc(var(--s) / -2) var(--s),
    radial-gradient(29% 27% at top, var(--_g)) 0 calc(var(--s) / 2),
    radial-gradient(29% 27% at bottom, var(--_g)) 0 calc(var(--s) / -2) hsl(204, 61%, 52%);
  background-size: calc(2 * var(--s)) calc(2 * var(--s));
}

.textWrapper {
  gap: 1rem 0;
  display: flex;
  max-width: 90%;
  text-align: center;
  align-items: center;
  margin-bottom: 4rem;
  flex-direction: column;
}

.heading {
  font-weight: 400;
  font-size: var.$section-heading-clamp;
  filter: drop-shadow(var.$standard-text-shadow);
}

.text {
  font-weight: 300;
  font-size: var.$text-clamp;
  filter: drop-shadow(var.$standard-text-shadow);
}

.projectWrapper {
  gap: 5rem;
  width: 90%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 24rem);
}

.project {
  border: none;
  height: 18rem;
  display: flex;
  padding: 2rem;
  cursor: pointer;
  color: var.$white;
  align-items: center;
  font-family: inherit;
  justify-content: center;
  box-shadow: var.$heavy-box-shadow;
}

.project {
  z-index: 1;
  position: relative;
  transition: all 0.3s;
  display: inline-block;

  &:after {
    left: 0;
    bottom: 0;
    width: 100%;
    content: '';
    z-index: -2;
    height: 100%;
    position: absolute;
    background-color: var.$secondary-blue;
  }

  &:before {
    left: 0;
    width: 0%;
    bottom: 0;
    content: '';
    z-index: -1;
    height: 100%;
    position: absolute;
    transition: all 0.3s;
    background-color: var.$transparent-blue-hover;
  }

  &:hover {
    color: var.$white;
    &:before {
      width: 100%;
    }
  }
}

.projectWrapper a:nth-child(1) {
  padding: 0;
}

.logoCurumim {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 0.4rem;
}

.cloud {
  z-index: -1;
  bottom: 1rem;
  width: 35rem;
  height: 25rem;
  position: absolute;
  border-radius: 50%;
  background-color: var.$primary-blue;
}

.cloud:nth-of-type(1) {
  left: -12rem;
  bottom: -16rem;
}

.cloud:nth-of-type(2) {
  left: 6rem;
  bottom: -10rem;
}

.cloud:nth-of-type(3) {
  left: 28rem;
  bottom: -8rem;
}

.cloud:nth-of-type(4) {
  right: 39rem;
  bottom: -12rem;
}

.cloud:nth-of-type(5) {
  right: 17rem;
  bottom: -8rem;
}

.cloud:nth-of-type(6) {
  right: -6rem;
  bottom: -6rem;
}

@media (width <= 112.5rem) {
  .cloud:nth-of-type(3) {
    display: none;
  }
}

@media (width <= 90rem) {
  .container {
    padding: 2rem;
  }

  .projectWrapper {
    gap: 3rem;
    grid-template-columns: repeat(auto-fill, 20rem);
  }
}

@media (width <= 87.5rem) {
  .cloud:nth-of-type(4) {
    display: none;
  }

  .project {
    font-size: var.$project-button-clamp;
  }
}

@media (width <= 62.5rem) {
  .cloud:nth-of-type(5) {
    display: none;
  }
}

@media (width <= 30.625rem) {
  .projectWrapper {
    grid-template-columns: repeat(auto-fill, minmax(17rem, 20rem));
  }

  .project {
    font-weight: 400;
  }

  :is(.cloud) {
    display: none;
  }
}
